@page
@model WebApp.Pages.HvdcLines.CreateModel
@{
    ViewData["Title"] = "Create New HvdcLine";
}

<div class="row justify-content-center align-items-center">
    <div class="col col-md-4 col-lg-4 col-xl-3">
        <h2>@ViewData["Title"]</h2>
        <form method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <label class="form-label">From Bus</label>
                <select asp-for="NewHvdcLine.Bus1Id" class="form-control select2" asp-items="ViewBag.Bus1Id"></select>
                <span asp-validation-for="NewHvdcLine.Bus1Id" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">To Bus</label>
                <select asp-for="NewHvdcLine.Bus2Id" class="form-control select2" asp-items="ViewBag.Bus2Id"></select>
                <span asp-validation-for="NewHvdcLine.Bus2Id" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NewHvdcLine.ElementNumber" class="form-label"></label>
                <input asp-for="NewHvdcLine.ElementNumber" class="form-control" />
                <span asp-validation-for="NewHvdcLine.ElementNumber" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NewHvdcLine.OwnerIds" class="form-label"></label>
                <select multiple class="form-control select2" asp-items="ViewBag.OwnerId" onchange="setMultiSelectVals(this)"></select>
                <input asp-for="NewHvdcLine.OwnerIds" type="hidden" />
                <span asp-validation-for="NewHvdcLine.OwnerIds" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NewHvdcLine.IsSpsPresent" class="form-check-label"></label>
                <input asp-for="NewHvdcLine.IsSpsPresent" class="form-check-input" />
                <span asp-validation-for="NewHvdcLine.IsSpsPresent" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NewHvdcLine.IsImportantGridElement" class="form-check-label"></label>
                <input asp-for="NewHvdcLine.IsImportantGridElement" class="form-check-input" />
                <span asp-validation-for="NewHvdcLine.IsImportantGridElement" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NewHvdcLine.CommissioningDate" class="form-label"></label>
                <input type="date" asp-for="NewHvdcLine.CommissioningDate" class="form-control" />
                <span asp-validation-for="NewHvdcLine.CommissioningDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NewHvdcLine.CommercialOperationDate" class="form-label"></label>
                <input type="date" asp-for="NewHvdcLine.CommercialOperationDate" class="form-control" />
                <span asp-validation-for="NewHvdcLine.CommercialOperationDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NewHvdcLine.DeCommissioningDate" class="form-label"></label>
                <input type="date" asp-for="NewHvdcLine.DeCommissioningDate" class="form-control" />
                <span asp-validation-for="NewHvdcLine.DeCommissioningDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NewHvdcLine.Length" class="form-label"></label>
                <input asp-for="NewHvdcLine.Length" class="form-control" />
                <span asp-validation-for="NewHvdcLine.Length" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NewHvdcLine.ConductorType" class="form-label"></label>
                <input asp-for="NewHvdcLine.ConductorType" class="form-control" />
                <span asp-validation-for="NewHvdcLine.ConductorType" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success mb-1">Create</button>
        </form>
        <a asp-page="./Index">Back to List</a>
    </div>
</div>

@section Scripts {
    <partial name="_Select2Partial" />
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
