﻿@using Infra.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole(Core.Constants.Roles.Administrator))
{
    <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Manage
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/Regions/Index">Regions</a></li>
                <li><a class="dropdown-item" href="/States/Index">States</a></li>
                <li><a class="dropdown-item" href="/Locations/Index">Locations</a></li>
                <li><a class="dropdown-item" href="/Owners/Index">Owners</a></li>
                <li><a class="dropdown-item" href="/VoltageLevels/Index">VoltageLevels</a></li>
            </ul>
        </li>
}
}