﻿@using Infra.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole(Core.Constants.Roles.Administrator))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Grid Entities
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/Regions/Index">Regions</a></li>
                <li><a class="dropdown-item" href="/States/Index">States</a></li>
                <li><a class="dropdown-item" href="/Locations/Index">Locations</a></li>
                <li><a class="dropdown-item" href="/Owners/Index">Owners</a></li>
                <li><a class="dropdown-item" href="/VoltageLevels/Index">VoltageLevels</a></li>
                <li><a class="dropdown-item" href="/Substations/Index">Substations</a></li>
                <li><a class="dropdown-item" href="/Buses/Index">Buses</a></li>
                <li><a class="dropdown-item" href="/Lines/Index">Lines</a></li>
                <li><a class="dropdown-item" href="/Bays/Index">Bays</a></li>
                <li><a class="dropdown-item" href="/Transformers/Index">Transformers</a></li>
                <li><a class="dropdown-item" href="/Fuels/Index">Fuels</a></li>
                <li><a class="dropdown-item" href="/GeneratingStationTypes/Index">GeneratingStationTypes</a></li>
                <li><a class="dropdown-item" href="/GeneratingStationClassifications/Index">GeneratingStationClassifications</a></li>
                <li><a class="dropdown-item" href="/GeneratingStations/Index">GeneratingStations</a></li>
                <li><a class="dropdown-item" href="/GeneratingUnits/Index">GeneratingUnits</a></li>
                <li><a class="dropdown-item" href="/LineReactors/Index">LineReactors</a></li>
                <li><a class="dropdown-item" href="/BusReactors/Index">BusReactors</a></li>
                <li><a class="dropdown-item" href="/HvdcLines/Index">HvdcLines</a></li>
                <li><a class="dropdown-item" href="/HvdcPoles/Index">HvdcPoles</a></li>
                <li><a class="dropdown-item" href="/FilterBanks/Index">FilterBanks</a></li>
                <li><a class="dropdown-item" href="/SubFilterBanks/Index">SubFilterBanks</a></li>
                <li><a class="dropdown-item" href="/GridEntities/Index">All Elements</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Data
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/Datasources/Index">Datasources</a></li>
                <li><a class="dropdown-item" href="/Metrics/Index">Metrics</a></li>
                <li><a class="dropdown-item" href="/Measurements/Index">Measurements</a></li>
            </ul>
        </li>
    }
}